.DS_Store
checkpoints/
8km_checkpoints/
croix_checkpoints/
load_data/
oper/data/
__pycache__/
utils/__pycache__/
testing/comparison.png
data_prep/
4km_checkpoints/
figures/test/
figures/train/
figures/stitch/
runs/
utils/data/
domains/
utils/reference_ds.grib2.9093e.idx
v2/data/
v2/figures/